.packageBtn {
  background: rgba(1, 143, 106, 0.85);
  border-radius: 2px;
  display: flex;
  align-items: center;
  width: auto;
  cursor: pointer;
  padding: 6px;
  transition: ease-in-out 0.5s;
  h1 {
    transition: ease-in-out 1s;
    display: none;
    margin: 0%;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: rgba(228, 228, 231, 0.8);
  }
  &:hover {
    h1 {
      transition: ease-in-out 0.5s;
      display: block;
    }
  }

  img {
    transition: ease-in-out 0.5s;
  }
}

.add-package-container {
  min-width: 1220px !important;
  height: auto;
}

.add-package-dialog {
  background-color: #22242c !important;
  box-shadow: 20px 10px 4px rgba(0, 0, 0, 0.15);
  min-height: auto;
  min-width: 1500px !important;
  padding-top: 1.5%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none !important;
  }
  .title {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Source Sans Pro" !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 30px;
  }
}

.dialog-title {
  display: flex;
  gap: 14px;
  padding-left: 3.5%;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  &:hover {
    transition: ease-in-out 0.5s;
    padding-left: 3.25%;
  }
}

.dialog-content-container {
  height: auto !important;
  width: 100% !important;
  display: grid !important;
  grid-template-columns: auto 40% !important;
  gap: 7.625rem;
  padding: 0% 5% 5%;
  .left-side {
    margin-top: 120px;
    margin-left: auto;
  }
}
