.card {
  width: 666px;
  height: 501px;
  background-color: #222431;
  box-shadow: 0px 54px 500px rgba(0, 0, 0, 0.0826639),
    0px 24.9658px 231.165px rgba(0, 0, 0, 0.11943),
    0px 14.2849px 132.267px rgba(0, 0, 0, 0.147217),
    0px 8.67082px 80.2854px rgba(0, 0, 0, 0.172783),
    0px 5.22455px 48.3755px rgba(0, 0, 0, 0.20057),
    0px 2.90937px 26.9386px rgba(0, 0, 0, 0.237336),
    0px 1.2513px 11.5861px rgba(0, 0, 0, 0.32);
  border-radius: 3px;
}
