.map-container {
  /* position: absolute; */
  position: relative;
  height: 100%;

  .tracker-icon {
    max-width: 44px;
    max-height: 46px;
    img{
      height: 100%;
      width: 100%;
    }
  }
}

.map-body {
  height: 100%;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none !important;
}
