.package_detail {
  display: grid;
  grid-template-columns: 10% auto;
  gap: 10px;
  padding-top: 11px;
  &:nth-child(1) {
    .image_container {
      padding-left: 10px;
    }
  }
  .content {
    .content_header {
      h1 {
        margin: 0%;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.8);
      }
    }

    div {
      display: grid;
      grid-template-rows: auto auto;

      h1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: rgba(228, 228, 231, 0.4);
        span {
          color: rgba(228, 228, 231, 0.8);
        }
      }
    }
  }
}

.vehicle_number_select {
  color: white;
  max-width: 100px !important;
}

.transporter_dropdown {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-right: auto;
  .vehicle_number_select,
  .transporter_select {
    margin-top: 5%;
    padding: 0%;
    margin-left: 10%;
  }
}
