.package_detail {
  display: grid;
  grid-template-columns: 10% auto;
  gap: 10px;
  padding-top: 11px;
  .content {
    .content_header {
      h1 {
        margin: 0%;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.8);
      }
    }

    div {
      display: flex;
      flex-direction: column;
      h1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: rgba(228, 228, 231, 0.4);
        span {
          color: rgba(228, 228, 231, 0.8);
        }
      }
    }
  }
}
