.content {
  justify-content: flex-start;
  .name {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(228, 228, 231, 0.6);
    margin: 0% !important;
  }
  .date {
    margin: 0% !important;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(228, 228, 231, 0.6);
  }
}

.campany-signature-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  .content {
    display: flex;
    flex-direction: column;
  }
  .date {
    display: flex;
    align-items: flex-end;
    h1 {
      margin: 0;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: rgba(228, 228, 231, 0.6);
    }
  }
}
