.video-player-container {
  position: absolute !important;
  width: 740px;
  max-height: 387px;
  top: 250px !important;
  right: 500px !important;

  .camera-details {
    position: absolute;
    top: 10px;
    left: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 100;
    .time {
      margin: 0%;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #e4e4e7;
    }
    .cam-name {
      margin: 0%;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .next-icon {
    z-index: 100;
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
  }
  .prev-icon {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
  }
  .video-player {
  }
}
